@model IEnumerable<RentCar.Models.RentCarModels.TipoPersona>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoPersona">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoPersona">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoPersona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
